<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
     <key>CFBundleName</key>
     <string>CPFoundation</string>
     <key>CFBundleIdentifier</key>
     <string>org.280north.cappuccino.foundation.docset</string>
     <key>DocSetFeedName</key>
     <string>Cappuccino Foundation</string>
</dict>
</plist>
